﻿@{
    ViewData["Title"] = "Загрузка погоды";
}
<style>
    #progress {
        width: 100%;
        background-color: #f3f3f3;
        border: 1px solid #bbb;
    }

    #progressBar {
        height: 30px;
        background-color: #4CAF50;
        width: 0%;
    }

    #textProgress, #progress {
        display: none;
    }
</style>

<h1>@ViewData["Title"]</h1>

@* Загрузка файлов *@
<div class="m-lg-3">
    @using (Html.BeginForm("UploadFile", "LoadingWeather", FormMethod.Post,
    new { enctype = "multipart/form-data", id = "uploadForm" }))
    {
        <input type="file" name="files" id="file" multiple accept=".xls,.xlsx,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
        <input type="submit" value="Загрузить файлы" />
    }
</div>

@* Прогресс бар *@
<div id="textProgress" class="m-lg-3"></div>
<div id="progress" class="m-lg-3">
    <div id="progressBar"></div>
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script type="text/javascript">
    @* Коннет к хабу для отображения прогресс бара *@
    var connection = new signalR.HubConnectionBuilder().withUrl("/progressHub").build();
    
    @* Заполнение прогресс бара *@
    connection.on("progress", function (i) {
        var progressElement = document.getElementById("progressBar");
        progressElement.style.width = (i * 100 / 12) + "%";
    });

    @* Алерт статуса загрузки файлов *@
    connection.on("status", function (msg) {
        alert(msg);
    });

    @* Номер загружаемого файла *@
    connection.on("number", function (numberFile) {
        var textProgeressElement = document.getElementById("textProgress");
        textProgeressElement.textContent = 'Идет загрузка ' + numberFile + '-го документа в базу. Пожалуйста подождите...';
        alert(msg);
    });

    @* Ошибка при коннекте к хабу *@
    connection.start().catch(function (err) {
        return console.error(err.toString());
    });

    @* Проверка, что файлы выбраны для загрузки *@
    document.getElementById('uploadForm').addEventListener('submit', function (event) {
        var fileInput = document.getElementById('file');
        if (!fileInput.value) {
            alert('Пожалуйста, выберите файл для загрузки.');
            event.preventDefault();
            return;
        }

        document.getElementById('textProgress').style.display = 'block';
        document.getElementById('progress').style.display = 'block';
    });
</script>


