﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="nav-link text-white btn btn-primary mt-2" asp-area="" asp-controller="ViewWeather" asp-action="ViewWeather">Просмотр погоды</a>
    <a class="nav-link text-white btn btn-success mt-2" asp-area="" asp-controller="LoadingWeather" asp-action="LoadingWeather">Загрузка погоды</a>
</div>
