﻿@model List<WeatherViewModel>
@{
    ViewData["Title"] = "Просмотр погоды";
}
<h1>@ViewData["Title"]</h1>

@* Фильтрация *@
<div id="filter" class="m-lg-3">
    <form method="get" action="@Url.Action("ViewWeather")">
        <div class="form-group row">
            <label for="year" class="col-sm-2 col-form-label">Год:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="year" name="year" value="@ViewData["Year"]" min="0" style="max-width: 300px;">
            </div>
        </div>
        <div class="form-group row">
            <label for="month" class="col-sm-2 col-form-label">Месяц:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="month" name="month" value="@ViewData["Month"]" min="0" max="12" style="max-width: 300px;">
            </div>
        </div>
        <input type="hidden" id="currentPage" name="currentPage" value="1">
        <input type="hidden" id="pageSize" name="pageSize" value="@ViewData["PageSize"]">
        <button type="submit" class="btn btn-primary mt-2">Применить фильтры</button>
    </form>
</div>


@* Вывод погоды *@
@foreach (var weatherVM in Model)
{
    <div id="oneDay" class="m-lg-3" style="border: 3px solid black">

        <h2 style="text-align: center;">@weatherVM.Date.ToString("dd/MM/yyyy")</h2>

        @foreach (var weather in weatherVM.Weathers)
        {
            <div id="information" style="border: 1px solid black;">

                <h3 style="text-align: right;">@weather.DateTime.TimeOfDay</h3>

                <div><b>Температура:</b> @(weather.Temperature != null ? $"{weather.Temperature} °C" : "Нет информации")</div>
                <div><b>Относительная влажность воздуха:</b> @(weather.Humidity != null ? $"{weather.Humidity} %" : "Нет информации")</div>
                <div><b>Точка росы:</b> @(weather.DewPoint != null ? $"{weather.DewPoint} °" : "Нет информации")</div>
                <div><b>Атмосферное давление:</b> @(weather.Pressure != null ? $"{weather.Pressure} мм рт. ст." : "Нет информации")</div>
                <div><b>Направление ветра:</b> @weather.DirectionWind</div>
                <div><b>Скорость ветра:</b> @(weather.WindSpeed != null ? $"{weather.WindSpeed} м/с" : "Нет информации")</div>
                <div><b>Облачность:</b> @(weather.Cloudiness != null ? $"{weather.Cloudiness} %" : "Нет информации")</div>
                <div><b>Нижняя граница облачности:</b> @(weather.CloudHeight != null ? $"{weather.CloudHeight} м" : "Нет информации")</div>
                <div><b>Горизонтальная видимость:</b> @(weather.Horizon != null ? weather.Horizon + " км" : "Нет информации")</div>
                <div><b>Погодные явления:</b> @weather.WeatherConditions</div>
            </div>
        }
    </div>
}

@* Пагинация *@
<div>
    @for (var i = 1; i <= Convert.ToInt32(ViewData["TotalPages"]); i++)
    {
        var filterLinkValues = new 
        {
            year = ViewData["Year"],
            month = ViewData["Month"],
            currentPage = i,
            pageSize = ViewData["PageSize"]
        };
        if (i == Convert.ToInt32(ViewData["CurrentPage"]))
        {
            <strong>@i</strong>
        }
        else
        {
            <a href="@Url.Action("ViewWeather", filterLinkValues)">@i</a>
        }
    }
</div>

